# Personal shell files
.*history
.dir_colors
.p10k*

# Sync app files
.st*

# DE files (KDE, GNOME, etc.)
.directory

# editor configs
.vscode
.idea

# zprofile settings
.first_init

# zcompile cached files
*.zwc

# Temporary files
cache/
log/
*.swp
.DS_Store
