# Personal shell files
.*history
.*.z*
.dir_colors
.first_init
custom/plugins/plugins.zsh
custom/*.zsh
custom/*.zshrc

# Sync app files
.st*

# DE files (KDE, GNOME, etc.)
.directory

# editor configs
.vscode/
.idea/

# zcompile cached files
*.zwc

# Temporary files
cache/
log/
*.swp
.DS_Store
