[submodule "ohmyzsh"]
	path = vendor/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
	shallow = true
	ignore = all
	branch = master
[submodule "themes/powerlevel10k"]
	path = vendor/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
	ignore = all
[submodule "plugins/zsh-syntax-highlighting"]
	path = vendor/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true
	ignore = all
[submodule "plugins/flatpak"]
	path = vendor/plugins/flatpak
	url = https://github.com/bilelmoussaoui/flatpak-zsh-completion
